* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* ==================== HEADER ==================== */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  background: linear-gradient(to top, #eec9c6, #ffffff);
}

.navbar,
.navbar-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-list a {
  color: #000000a2;
  padding: 10px;
  border-radius: 8px;
  font-weight: bold;
  text-decoration: none;
  overflow: hidden;
  transition: 0.2s;
}

.navbar-list a:hover {
  background: #ffffff83;
  box-shadow: 0 0 10px #f5b7b1, 0 0 40px #f5b7b1, 0 0 80px #ffffff;
  border-radius: 8px;
  /* color: #000000; */
}

/* ==================== MAIN ==================== */
main {
  width: 100%;
  height: 750px;
  /* background: linear-gradient(to bottom, #f5b7b1, #ffffff); */
  background-image: url(img/liana-mikah-qNhe2QXzLuo-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* ==================== FORM ==================== */
#form h1 {
  background: #000000a2;
  font-weight: bold;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  display: flex;
  flex-direction: column;
  justify-content: end;
  /* align-items: center; */
  /* margin-left: 200px; */
  /* padding-top: 50px; */
  height: 60px;
  padding-left: 200px;
  /* border: 4px solid #b3ff03; */
}

.form-container {
  display: flex;
  justify-content: flex-start;
  margin-left: 200px;
  margin-top: 50px;
}

.form-info {
  display: flex;
  flex-direction: column;
  width: 30%;
  /* border: 4px solid #b3ff03; */
}

.form-info label {
  margin: 10px 0 5px 0;
}

.form-info input {
  padding-left: 5px;
  height: 25px;
  border-radius: 8px;
}

.buscarArchivo {
  margin: 20px 0;
  /* gap: 5px; */
}

input[type="type"] {
  width: 50%;
  /* margin: 10px 32%; */
}

/* input[type="file"] {
  border-radius: 10px;
  margin-left: 25px;
} */

.btn-subir {
  width: 30%;
  height: 30px;
  border-radius: 20px;
  border: 1px solid #000000;
  color: #000000;
  font-weight: bold;
  text-align: center;
  margin: 10px 35%;
  cursor: pointer;
}

.btn-subir:hover {
  width: 30%;
  height: 30px;
  border-radius: 20px;
  border: 1px solid #ffffff;
  background-color: #eec9c6;
  color: #ffffff;
  text-shadow: 0 0 0 #000000;
  font-weight: bold;
  text-align: center;
  margin: 10px 35%;
  cursor: pointer;
}

/* input[type="button"] {
  width: 30%;
  height: 30px;
  border-radius: 20px;
  border: 1px solid #000000;
  color: #eec9c6;
  text-shadow: 0 0 0 #000000;
  font-weight: bold;
  text-align: center;
  margin: 10px 35%;
  cursor: pointer;
} */

/* ==================== FOOTER ==================== */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  /* border: 4px solid #b3ff03; */
  background: linear-gradient(to bottom, #eec9c6, #ffffff);
}

footer img {
  height: 50px;
  width: 50px;
  margin-bottom: 5px;
}

footer p {
  color: #000000a2;
}
